body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  line-height: 200%;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: normal;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.MyPicture {
  margin-top: 50px;
}
.Database-Image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.Experience-Image {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.subtitle {
  font-weight: normal;
  line-height: normal;
}
.intro-text {
  width: 35%;
  margin: 50px auto 50px auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.middle-container {
  padding-bottom: 50px;
}
.footer-link {
  color: #11999E;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}
.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
